#ajax_form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 70%;	
	margin: 0 auto;
}

[class^=wrapper_input] {
	justify-content: flex-end;
}

[class^=wrapper_input] label {
	min-width: 174px;
	text-align: right;
}

.btn-salvar {
	margin: 20px auto 0 auto;
	background-color: #16691d;
}

.linha {
	justify-content: center; 
}

.wrapper_input_text {
	max-width: 50%;	
}