#wrapper_busca {
	display: flex;
	align-items: center;
	justify-content: center;
}

#buscar {
	height: 42px;
	width: 100%;
	max-width: 240px;
	padding: 4px;
	box-sizing: border-box;
}

.btn-buscar{
	border-radius: 0;
	padding: 10px 16px;
	background-color: #16691d;
}

/*Tabela*/
#tb-data-grid {	
	border-collapse: collapse;
	width: 750px;
	margin: 36px auto 0 auto;
}

tbody {
	border: 1px solid #444;
}

td {
	text-align: center;
}

#tb-data-grid i {
	cursor: pointer;
}

.icon-excluir {
	color: #a90808;	
}

.icon-editar {
	color: #92700b;	
}
/*Tabela*/