.btn-buscar{
	margin-left: 300px;
}

.cons-item{
	margin-top: 50px;	
}

#tb-data-grid{
	border-style: solid;
	border: 2px;
	width: 750px;
}

.ico-rm {
	background-image:url('../../img/rubbish-bin.png');
}